<MarketplaceDetails>
  <SmallAppTile>Sudoku99.png</SmallAppTile>
  <LargeAppTile>Sudoku173.png</LargeAppTile>
  <PCAppTile>Sudoku200.png</PCAppTile>
  <ScreenShots>Puzzle01.png;Puzzle02.png;Puzzle03.png;Puzzle04.png;Puzzle05.png;Puzzle06.png;Puzzle07.png;Puzzle08.png;</ScreenShots>
</MarketplaceDetails>